<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SnapKitTutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CF53E7E1C3AB861002BE7FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CF53E921C3AB861002BE7FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CF53E9D1C3AB861002BE7FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
